.game {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.board {
  display: flex;
  align-items: center;
  flex-direction: column;
  margin-top: 5em;
  position: relative;

  .board_plate {
    box-shadow: 9px 10px 5px 0px rgba(0,0,0,0.75);
    display: flex;
    justify-content: center;
  }

  .current_player {
    font-size: 1.5em;
    margin-bottom: 1em;
    text-transform: uppercase;
  }

  .info {
    text-align: center;
  }

  .restart{
    text-transform: uppercase;
    margin: 1em;
    padding: 1em 1.5em;
    background-color: #555555;
    color: white;
    border-radius: 5px;
    font-weight: bold;
  }

  .restart:hover {
    background-color: white;
    border: 2px solid #555555;
    color: black;
  }
}

.winner {
  opacity: 0.1;
}

.won, .over {
  position: absolute;
  z-index: 10000000;
  width: 100%;
  left: 0;
  top: 40vh;
  color: black;
  font-size: 1.5em;
  font-weight: 800;
  line-height: 1.5em;
  margin: 0 0 0.5em;
  text-align: center;
  text-transform: uppercase;

  @media (min-width: 20em) {
    font-size: 2em;
  }

  @media (min-width: 50em) {
    font-size: 3em;
  }
}
